// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#wrapper_payment {
  width: 750px;
  float: right;
}

.thank_you {
  width: 450px;
  margin: 120px auto 0 auto;
}